*{
  padding: 0; 
  margin: 0;
}
.chessboard {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
  }

  .square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
  }

  .white {
    background-color: #f0d9b5;
  }

  .black {
    background-color: #b58863;
  }

  .img{
    background-color: black;
  }